<%- partial('_partial/head') %>

<body>

  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

  <div class="content">
    <div class="container">

      <%- body %>


    </div>
  </div>

  <%- partial('_partial/after-footer') %>

</body>
</html>
